html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;

}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: .7;
  transition: transform .5s, opacity 0.5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

/* nav */

.navbar-default .navbar-nav .active a{
  color: #399bd1;
  background-color: inherit;
}

.navbar-nav li a {
  font-size: 1.1rem;
  font-weight: bold;
}

/*jumbotron */

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  text-align: center;
  color: white;

}

.jumbotron-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
  text-align: center;
  color: white;

}

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
  text-align: center;
  color: white;

}

.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
  text-align: center;
  color: white;

}

.jumbotron .content {
  padding-top: 11.88rem;
  text-align: -webkit-center;
}

.jumbotron h1 {
  font-family: Monoton;
  font-size: 7.1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron p {
  max-width: 51.3rem;
  margin-bottom: 2.8rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron .btn-primary {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  width: 11.4rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  margin-bottom: 11.85rem;
}

@media only screen and (max-width: 480px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

/* featured project section */

.Featured h3 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
  margin-bottom: 20px;
}

.Featured img {
  width: 100%;
}

.Featured .list h5 {
  color: #399bd1;
  font-size: 1.3rem;
  font-weight: bold;
}

.Featured .person h5 {
  font-size: 1.3rem;
  font-weight: bold;
}

.list ul li {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

/* projects section */

.Projects {
  margin-bottom: 5.85rem;
}

.Projects h3 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

.Projects h5 {
  font-size: 1.3rem;
  font-weight: bold;
}

.Projects img {
  width: 100%;

}

/* Having trouble section */

.help {
  background-color: #f3f3f3;
  text-align: -webkit-center;
  padding-top: 5.2rem;
}

.help strong {
  font-size: 2.5rem;
  font-weight: bold;
}

.help p {
  max-width: 42rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.help .btn-primary {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  width: 11.4rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  margin-bottom: 5.2rem;
}
